body {
    width: 60vw;
    max-width: 900px;
    min-width: 300px;
}

.welcome {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid pink;
}

.intro {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid pink;
}